body {
    font-family: Helvetica Neue, sans-serif;
    font-weight: bold;
    text-align: center;
    background: white;
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
}

button {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
}

#increment-btn {
    background: darkgreen;
}

#save-btn {
    background: darkred;
}

.container {
    max-width: 275px;
    margin: auto;
    background-color: #f0f0f0;
    border: 3px solid black;
    border-radius: 10px;
    box-shadow: 2px 4px 6px rgba(0,0,0,0.5);
}

#save-el {
    font-weight: bold;
    margin: 20px;
}